*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    vertical-align: middle;
}
a{
    text-decoration: none;
}
ul, ol{
    list-style: none;
}
:root{
    --primary: #FF5538;
    --primary__light: #FFD7C8;
    --primary__little__light: #FFDDD7;
    --primary__extra__light: #FBF3F0CC;
    --secondary: #FDF9F8;
    --atom: #FFABBA;
    --electron: #C087EE;
    --crossThree: #FFDCD8;
    --pure: #FFFFFF;
    --dark: #29313D;
    --light__dark: #C4C4C4;
    --ff__one: 'Nunito', sans-serif;
    --ff__two: 'Poppins', sans-serif;
    --ff__three: 'Open Sans', sans-serif;
}
.container{
    width: 1415px;
    margin: 0 auto;
}

/* ================================= Common CSS ends ====================================== */

/* ================================= navbar start ====================================== */
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 32px 0;
    z-index: 999999;
}
nav .logo a picture svg{
    width: 111px;
}
nav .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    width: 20%;
}
.navbar .menu{
    width: 60%;
    text-transform: capitalize;
}
.navbar .menu ul{
    display: flex;
    justify-content: center;
    column-gap: 48px;
}
.navbar .menu ul li a{
    color: var(--dark);
    font-family: var(--ff__three);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    transition: all ease .2s;
}
.navbar .menu ul li a:hover{
    color: var(--primary);
}
.navbar .menu ul li a i{
    padding-left: 8px;
}
.navbar .button{
    color: var(--pure);
    width: 20%;
    text-align: right;
    font-family: var(--ff__one);
    font-style: normal;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 18px;
    line-height: 200%;    
}
.navbar .button a{
    background: var(--primary);
    color: var(--pure);
    padding: 14px 28px;
    border: 1px solid transparent;
    border-radius: 18px;
    transition: all linear .2s;
}
.navbar .button a:hover{
    background: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
}
/* ================================= navbar ends ====================================== */

/* ================================= banner start ====================================== */
#banner{
    width: 100%;
    background: url(../images/banner.png) no-repeat center / cover scroll;
    position: relative;
}
.banner__main{
    width: 771px;
    margin: 0 auto;
    padding: 300px 0;
}
.banner__heading{
    color: var(--dark);
    font-family: var(--ff__two);
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 130%;
    text-align: center;
    text-transform: capitalize;
}
.banner__description{
    color: var(--dark);
    font-family: var(--ff__one);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    text-align: center;
    text-transform: capitalize;
    padding: 24px 112px 44px 112px;
}
.banner__buttons{
    text-align: center;
}
.banner__button{
    background: var(--primary);
    color: var(--pure);
    padding: 14px 28px;
    border: 1px solid transparent;
    border-radius: 18px;
    font-family: var(--ff__one);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 200%;
    text-transform: capitalize;   
    transition: all linear .2s;
}
.banner__button:hover{
    background: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
}
.banner__button--right{
    margin-left: 24px;
}
.banner__verticalContents {
	transform: rotate(-90deg);
	display: inline-block;
    position: absolute;
    top: 450px;
    left: -200px;
}
.banner__verticalLists{
    display: flex;
    column-gap: 100px;
    color: var(--dark);
    font-family: var(--ff__one);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    text-transform: lowercase;
}
.banner__verticalListsItem--first{
    position: relative;
}
.banner__verticalListsItem--first::after{
    content: '';
    width: 48px;
    height: 2px;
    background: var(--dark);
    position: absolute;
    top: 11px;
    left: -53px;
}
.banner__verticalListsItem--first::before{
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--dark);
    position: absolute;
    top: 7px;
    left: -22px;
}
.banner__verticalListItemInner{
    display: flex;
    column-gap: 20px;
}
.banner__cornerImage{
    position: absolute;
    top: 0;
    left: 0;
}
.banner__leftTopImg{
    width: 100%;
}
.banner__atom{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid var(--atom);
    position: absolute;
    top: 135px;
    left: 50%;
    transform: translateX(-50%);
    animation: atom_one_roat 3s linear 0ms infinite;
}
@keyframes atom_one_roat{
    from{
        transform: translateX(-50%) rotate(0deg);
    }to{
        transform: translateX(-50%) rotate(360deg);
    }
}
.banner__atom::after{
    background: var(--atom);
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 15px;
}
.banner__electron{
    background: var(--electron);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
}
.banner__electronOne{
    top: 260px;
    left: 62%;
    animation: electron_jump 3s ease-in 0ms infinite alternate;
}
@keyframes electron_jump{
    from{
        top: 130px;
        filter: blur(7px);
    }to{
        top: 260px;
        filter: blur(0px);
    }
}
.banner__electronTwo{
    bottom: 250px;
    left: 16%;
    animation: electron_jump_two 4s ease-in 0ms infinite alternate;
}
@keyframes electron_jump_two{
    from{
        bottom: 80px;
        filter: blur(7px);
    }to{
        bottom: 250px;
        filter: blur(0px);
    }
}
.banner__cross{
    font-size: 24px;
    position: absolute;
}
.banner__crossOne{
    color: var(--atom);
    top: 130px;
    left: 15%;
    animation: cross__one 5s linear 0ms infinite;
}
@keyframes cross__one{
    from{
        transform: rotate(0deg);
        filter: blur(0);
    }to{
        transform: rotate(360deg);
        filter: blur(2px);
    }
}
.banner__crossTwo {
	color: var(--electron);
	bottom: 205px;
	right: 41%;
    animation: cross__two 4.5s linear 0ms infinite reverse;
}
@keyframes cross__two{
    from{
        transform: rotate(0deg) scale(0.5);
    }to{
        transform: rotate(360deg) scale(1);
    }
}
.banner__crossThree{
    color: var(--crossThree);
    top: 400px;
    right: 25%;
    animation: cross__three 4s linear 0ms infinite;
}
@keyframes cross__three{
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}
.banner__crossFour {
	color: var(--crossThree);
	bottom: 376px;
	right: 34%;
}
.banner__crossFive{
    color: var(--crossThree);
    bottom: 315px;
    left: 10%;
    animation: cross__five 3s linear 0ms infinite reverse;
}
@keyframes cross__five{
    from{
        transform: rotate(0deg);
        filter: blur(0px);
    }to{
        transform: rotate(360deg);
        filter: blur(5px);
    }
}
/* ================================= banner ends ====================================== */